.facebook {
  color: #0574e7;
  font-size: 25px;
}

.instagram {
  color: #e74861;
  font-size: 25px;
}

.twitter {
  color: #1d9bf0;
  font-size: 25px;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  color: #1D70B8;
}

h1, h5, .form-text, .form-label {
  font-weight: bold;
  color: #1D70B8;

}
.card {
  margin: 10px;
}

.login {
  background: url(./assets/login.jpg);
}

